/* TODO load this only when the editor is actually used */
@import 'quill/dist/quill.core.css';
@import "quill/dist/quill.snow.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #d3d3d3;
        --foreground: #000000;

        --surface: #ffffff;
        --surface-foreground: #000000;

        --confirmative: #4cac4a;
        --confirmative-foreground: #000000;

        --destructive: #dc6767;
        --destructive-foreground: #000000;

        --border: #f3f3f4;
        --input: #f3f3f4;

        --primary: #347aad;
        --primary-foreground: #f3f3f4;

        --secondary: #0898dd;
        --secondary-foreground: #f3f3f4;

        --ring: #000000;
        --rint-primary: #f3f3f4;

        --radius: 0.5rem;
        --font-sans: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, Arial, sans-serif;
    }

    .dark {
        --background: #081118;
        --foreground: #e7e8e8;

        --surface: #10181e;
        --surface-foreground: #e7e8e8;

        --confirmative: #6ED36C;
        --confirmative-foreground: #ffffff;

        --destructive: #FA5555;
        --destructive-foreground: #ffffff;

        --border: rgba(231, 232, 232, 0.40);;
        --input: rgba(231, 232, 232, 0.40);;


        --primary: #E7E8E8;
        --primary-foreground: #000000;

        --secondary: #32C4FF;
        --secondary-foreground: #f3f3f4;

        --ring: #000000;
        --rint-primary: #f3f3f4;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

[x-cloak] {
    display: none;
}

/* TODO: find a way to make this local */
.pre-like {
    white-space: pre;
    unicode-bidi: embed;
}


/* Tailwind font family for quill classes */
.ql-font-monospace {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.ql-font-serif {

    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

}

.ql-font-sans-serif {

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.post-it {
    background-color: #f4e842;
    border: 1px solid #d4b834;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* To make sure it appears above other elements */
}
