name: Client Tests
permissions:
  contents: read

# This workflow contains all tests for the openqda core-client
# which includes for now:
# - check code-format using code-formatter
# - check code-style using linter
#
# In the future we also want to have:
# - style lint
# - unit-tests
# - vue component tests
# - e2e tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # with this we only check for production dependencies
  # in order to ensure new features or fixes do not introduce
  # known vulnerabilities.
  # However: dev dependencies are not audited here and have to be
  # checked locally by developers.
  audit:
    name: Client audit
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node22-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node22-

      - name: install node modules
        run: |
          cd web
          npm ci
      - name: run audit
        run: |
          cd web
          npm audit --omit=dev --audit-level=high
  lint:
    name: Client Lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node22-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node22-

      - name: install node modules
        run: |
          cd web
          npm ci
      - name: check format
        run: |
          cd web
          npm run format:check
      - name: check code style
        run: |
          cd web
          npm run lint:check
  unit:
    name: Client Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node22-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node22-

      - name: install node modules
        run: |
          cd web
          npm ci
      - name: run unit tests
        run: |
          cd web
          npm run ci:unit
